<!-- 
    Group 55 - Erwin Laird and Amanda Dohring - Project Step 6

    Citation for code adapted from CS340 Node.js Starter App
    Date: 6/12/2023
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
 -->

<!-- users_cities.hbs -->
{{!-- Users-Cities table --}}
<head>
     <title>Users Cities</title>
     <link href="/css/style.css" rel="stylesheet" type="text/css" />
     <style>
       @font-face {
         font-family: 'CustomFont';
         src: url('/myfont.otf') format('opentype');
       }
       #navigation-placeholder a.current,
       #navigation-placeholder a[href="/users_cities"] {
         color: rgb(240,112,103);
         font-family: 'CustomFont', sans-serif;
         font-size: 40px;
       }
       th {
          background-color: rgba(214, 185, 185, 0.733);
      }
     </style>
 </head>
<div id="browse">
<table id="users-cities-table" border="3" cellpadding="10">
    <thead>
        <br>
        <tr>
            <th>User_City ID</th>
            <th>Username</th>
            <th>City/State</th>
            <th>Start Year</th>
            <th>End Year</th>
            <th>Current Resident</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {{!-- For each row, print each column from the db for Users entity --}}
        {{#each data}}
        <tr data-value="{{this.user_city_id}}">
            <td>{{this.user_city_id}}</td>
            <td>{{this.user_id}}</td>
            <td>{{this.city_id}}</td>
            <td>{{this.start_year}}</td>
            <td>{{#if this.end_year}}{{this.end_year}}{{else}}-{{/if}}</td>
            <td>{{#if this.current_resident}}Yes{{else}}No{{/if}}</td>
            <td>
                <a href="#" onClick="updateUserCity('{{this.user_city_id}}')">
                        <img src="/images/edit.png" alt="Edit" style="max-width: 18px; max-height: 80px; opacity: 0.7;" />
                </a> 
            </td>
            <td>
                <a href="#" onClick="deleteUserCity('{{this.user_city_id}}')">
                        <img src="/images/delete.png" alt="Delete" style="max-width: 15px; max-height: 80px; opacity: 0.7;" />
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table><br>
    <a id="addIcon" href="#" onClick="addUserCity()">
        <img src="/images/add.png" alt="Add" style="max-width: 100px; max-height: 80px; opacity: 0.7;" />
    </a>
</div>

<div id="insert" style="display: none;">
    <h2>Add a New User-City</h2>
    <form id="add-user-city-form">
        <fieldset class="fields">
        <div class="inner-border">
            <label for="input-username"> Username </label>
            <select name="input-username" id="input-username" required>
                <option value="">&nbsp;</option>
                {{#each users}}
                <option value="{{this.user_id}}">{{this.user_id}} - {{this.username}}</option>
                {{/each}}
            </select><br><br>

            <label for="input-city"> City and State </label>
            <select name="input-city" id="input-city" required>
                <option value="">&nbsp;</option>
                {{#each cities}}
                <option value="{{this.city_id}}">{{this.city_id}} - {{this.city}}, {{this.state}}</option>
                {{/each}}
            </select><br><br>

            <label for="input-start-year"> Start Year </label>
            <input type="text" name="input-start-year" id="input-start-year" required><br><br>

            <label for="input-end-year"> End Year </label>
            <input type="text" name="input-end-year" id="input-end-year"><br><br>

            <label for="input-current-resident"> Current Resident </label>
            <select name="input-current-resident" id="input-current-resident" required>
                <option value="">&nbsp;</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br><br>
        </div>
        </fieldset><br><br>
        <input class="btn" type="submit" value="Save">
        <input class="btn" type="button" value="Cancel" onClick="cancelAdd()">
    </form>
</div>

<div id="update" style="display: none;">
    <h2>Edit User City</h2>
    <form id="update-user-city-form">
        <fieldset class="fields">
        <div class="inner-border">
            <label for="update-username"> Username </label>
            <select name="update-username" id="update-username" required>
                <option value="">&nbsp;</option>
                {{#each data}}
                <option value="{{this.user_city_id}}">{{this.user_city_id}} - {{this.user_id}}</option>
                {{/each}}
            </select><br><br>

            <label for="update-city"> City and State </label>
            <select name="update-city" id="update-city" required>
                <option value="">&nbsp;</option>
                {{#each data}}
                <option value="{{this.city_id}}">{{this.city_id}}</option>
                {{/each}}
            </select><br><br>

            <label for="update-start-year"> Start Year </label>
            <input type="text" name="update-start-year" id="update-start-year" required><br><br>

            <label for="update-end-year"> End Year </label>
            <input type="text" name="update-end-year" id="update-end-year" ><br><br>

            <label for="update-current-resident"> Current Resident </label>
            <select name="update-current-resident" id="update-current-resident" required>
                <option value="">&nbsp;</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br><br>
        </div>
        </fieldset><br><br>
        <input class="btn" type="submit" value="Save Changes">
        <input class="btn" type="button" value="Cancel" onClick="cancelUpdate()">
    </form>
</div>

<script src="./js/add_user_city.js"></script>
<script src="./js/delete_user_city.js"></script>
<script src="./js/update_user_city.js"></script>